--
-- PostgreSQL database dump
--

\restrict HcD1Jv8401emFfcipX9sXxWazi27eyxUcUF7961f3IcsX9MgIpRlojGoLp7vE4K

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: enum_acoes_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_acoes_status AS ENUM (
    'planejada',
    'ativa',
    'concluida'
);


ALTER TYPE public.enum_acoes_status OWNER TO postgres;

--
-- Name: enum_acoes_tipo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_acoes_tipo AS ENUM (
    'curso',
    'saude'
);


ALTER TYPE public.enum_acoes_tipo OWNER TO postgres;

--
-- Name: enum_cidadaos_genero; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_cidadaos_genero AS ENUM (
    'masculino',
    'feminino',
    'outro',
    'nao_declarado'
);


ALTER TYPE public.enum_cidadaos_genero OWNER TO postgres;

--
-- Name: enum_cidadaos_raca; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_cidadaos_raca AS ENUM (
    'branca',
    'preta',
    'parda',
    'amarela',
    'indigena',
    'nao_declarada'
);


ALTER TYPE public.enum_cidadaos_raca OWNER TO postgres;

--
-- Name: enum_configuracoes_campo_entidade; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_configuracoes_campo_entidade AS ENUM (
    'instituicao',
    'acao',
    'cidadao',
    'curso_exame'
);


ALTER TYPE public.enum_configuracoes_campo_entidade OWNER TO postgres;

--
-- Name: enum_configuracoes_campo_tipo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_configuracoes_campo_tipo AS ENUM (
    'text',
    'number',
    'date',
    'select',
    'checkbox'
);


ALTER TYPE public.enum_configuracoes_campo_tipo OWNER TO postgres;

--
-- Name: enum_contas_pagar_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_contas_pagar_status AS ENUM (
    'pendente',
    'paga',
    'vencida',
    'cancelada'
);


ALTER TYPE public.enum_contas_pagar_status OWNER TO postgres;

--
-- Name: enum_contas_pagar_tipo_conta; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_contas_pagar_tipo_conta AS ENUM (
    'agua',
    'energia',
    'aluguel',
    'internet',
    'telefone',
    'pneu_furado',
    'troca_oleo',
    'abastecimento',
    'manutencao_mecanica',
    'reboque',
    'lavagem',
    'pedagio',
    'funcionario',
    'manutencao',
    'espontaneo',
    'outros'
);


ALTER TYPE public.enum_contas_pagar_tipo_conta OWNER TO postgres;

--
-- Name: enum_cursos_exames_tipo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_cursos_exames_tipo AS ENUM (
    'curso',
    'exame'
);


ALTER TYPE public.enum_cursos_exames_tipo OWNER TO postgres;

--
-- Name: enum_custos_acoes_tipo_custo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_custos_acoes_tipo_custo AS ENUM (
    'abastecimento',
    'alimentacao',
    'hospedagem',
    'transporte',
    'material',
    'pedagio',
    'manutencao',
    'outros'
);


ALTER TYPE public.enum_custos_acoes_tipo_custo OWNER TO postgres;

--
-- Name: enum_insumos_categoria; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_insumos_categoria AS ENUM (
    'EPI',
    'MEDICAMENTO',
    'MATERIAL_DESCARTAVEL',
    'EQUIPAMENTO',
    'OUTROS'
);


ALTER TYPE public.enum_insumos_categoria OWNER TO postgres;

--
-- Name: enum_movimentacoes_estoque_tipo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_movimentacoes_estoque_tipo AS ENUM (
    'ENTRADA',
    'SAIDA',
    'TRANSFERENCIA',
    'AJUSTE',
    'PERDA'
);


ALTER TYPE public.enum_movimentacoes_estoque_tipo OWNER TO postgres;

--
-- Name: enum_notificacoes_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_notificacoes_status AS ENUM (
    'agendada',
    'enviada',
    'erro'
);


ALTER TYPE public.enum_notificacoes_status OWNER TO postgres;

--
-- Name: enum_notificacoes_tipo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_notificacoes_tipo AS ENUM (
    'whatsapp',
    'email',
    'sms'
);


ALTER TYPE public.enum_notificacoes_tipo OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO postgres;

--
-- Name: abastecimentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.abastecimentos (
    id uuid NOT NULL,
    acao_id uuid NOT NULL,
    caminhao_id uuid NOT NULL,
    data_abastecimento timestamp with time zone NOT NULL,
    litros numeric(8,2) NOT NULL,
    valor_total numeric(10,2) NOT NULL,
    preco_por_litro numeric(6,3) NOT NULL,
    observacoes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.abastecimentos OWNER TO postgres;

--
-- Name: COLUMN abastecimentos.litros; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.abastecimentos.litros IS 'Quantidade de litros abastecidos';


--
-- Name: COLUMN abastecimentos.valor_total; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.abastecimentos.valor_total IS 'Valor total pago pelo abastecimento';


--
-- Name: COLUMN abastecimentos.preco_por_litro; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.abastecimentos.preco_por_litro IS 'Pre├ºo por litro (calculado: valor_total / litros)';


--
-- Name: acao_caminhoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acao_caminhoes (
    id uuid NOT NULL,
    acao_id uuid NOT NULL,
    caminhao_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.acao_caminhoes OWNER TO postgres;

--
-- Name: acao_curso_exame; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acao_curso_exame (
    id uuid NOT NULL,
    acao_id uuid NOT NULL,
    curso_exame_id uuid NOT NULL,
    vagas integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.acao_curso_exame OWNER TO postgres;

--
-- Name: acao_funcionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acao_funcionarios (
    id uuid NOT NULL,
    acao_id uuid NOT NULL,
    funcionario_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    valor_diaria numeric(10,2),
    dias_trabalhados integer DEFAULT 1
);


ALTER TABLE public.acao_funcionarios OWNER TO postgres;

--
-- Name: acoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acoes (
    id uuid NOT NULL,
    numero_acao integer,
    instituicao_id uuid NOT NULL,
    tipo public.enum_acoes_tipo NOT NULL,
    municipio character varying(255) NOT NULL,
    estado character varying(2) NOT NULL,
    data_inicio date NOT NULL,
    data_fim date NOT NULL,
    status public.enum_acoes_status DEFAULT 'planejada'::public.enum_acoes_status NOT NULL,
    descricao text,
    local_execucao character varying(255) NOT NULL,
    vagas_disponiveis integer DEFAULT 0 NOT NULL,
    distancia_km integer,
    preco_combustivel_referencia numeric(6,3),
    campos_customizados jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    permitir_inscricao_previa boolean DEFAULT true NOT NULL,
    nome character varying(255) NOT NULL
);


ALTER TABLE public.acoes OWNER TO postgres;

--
-- Name: COLUMN acoes.distancia_km; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes.distancia_km IS 'Dist├óncia em km de S├úo Lu├¡s at├® o munic├¡pio da a├º├úo';


--
-- Name: COLUMN acoes.preco_combustivel_referencia; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes.preco_combustivel_referencia IS 'Pre├ºo de refer├¬ncia do combust├¡vel em R$/litro';


--
-- Name: COLUMN acoes.permitir_inscricao_previa; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes.permitir_inscricao_previa IS 'Permite inscri├º├úo antecipada para esta a├º├úo';


--
-- Name: acoes_insumos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acoes_insumos (
    id uuid NOT NULL,
    acao_id uuid NOT NULL,
    insumo_id uuid NOT NULL,
    quantidade_planejada integer NOT NULL,
    quantidade_levada integer,
    quantidade_utilizada integer,
    quantidade_retornada integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.acoes_insumos OWNER TO postgres;

--
-- Name: COLUMN acoes_insumos.quantidade_planejada; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes_insumos.quantidade_planejada IS 'Quantidade planejada para a a├º├úo';


--
-- Name: COLUMN acoes_insumos.quantidade_levada; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes_insumos.quantidade_levada IS 'Quantidade que o motorista levou';


--
-- Name: COLUMN acoes_insumos.quantidade_utilizada; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes_insumos.quantidade_utilizada IS 'Quantidade efetivamente utilizada na a├º├úo';


--
-- Name: COLUMN acoes_insumos.quantidade_retornada; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.acoes_insumos.quantidade_retornada IS 'Quantidade que retornou ap├│s a a├º├úo';


--
-- Name: acoes_numero_acao_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.acoes_numero_acao_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.acoes_numero_acao_seq OWNER TO postgres;

--
-- Name: acoes_numero_acao_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.acoes_numero_acao_seq OWNED BY public.acoes.numero_acao;


--
-- Name: caminhoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caminhoes (
    id uuid NOT NULL,
    placa character varying(10) NOT NULL,
    modelo character varying(255) NOT NULL,
    ano integer NOT NULL,
    km_por_litro numeric(5,2) DEFAULT 0 NOT NULL,
    capacidade_litros integer DEFAULT 0 NOT NULL,
    status character varying(255) DEFAULT 'disponivel'::character varying NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.caminhoes OWNER TO postgres;

--
-- Name: COLUMN caminhoes.km_por_litro; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.caminhoes.km_por_litro IS 'Autonomia do caminh├úo em km por litro';


--
-- Name: cidadaos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cidadaos (
    id uuid NOT NULL,
    cpf character varying(14) NOT NULL,
    nome_completo character varying(255) NOT NULL,
    data_nascimento date NOT NULL,
    telefone character varying(20) NOT NULL,
    email character varying(255) NOT NULL,
    senha character varying(255),
    tipo character varying(20) DEFAULT 'cidadao'::character varying,
    municipio character varying(255) NOT NULL,
    estado character varying(2) NOT NULL,
    cep character varying(9),
    rua character varying(255),
    numero character varying(10),
    complemento character varying(100),
    bairro character varying(100),
    campos_customizados jsonb DEFAULT '{}'::jsonb,
    consentimento_lgpd boolean DEFAULT false NOT NULL,
    data_consentimento timestamp with time zone,
    ip_consentimento character varying(45),
    reset_password_token character varying(255),
    reset_password_expires timestamp with time zone,
    foto_perfil character varying(255),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cartao_sus character varying(15),
    raca public.enum_cidadaos_raca,
    genero public.enum_cidadaos_genero,
    nome_mae character varying(255)
);


ALTER TABLE public.cidadaos OWNER TO postgres;

--
-- Name: COLUMN cidadaos.cartao_sus; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.cidadaos.cartao_sus IS 'N├║mero do Cart├úo Nacional de Sa├║de (CNS)';


--
-- Name: configuracoes_campo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuracoes_campo (
    id uuid NOT NULL,
    entidade public.enum_configuracoes_campo_entidade NOT NULL,
    nome_campo character varying(255) NOT NULL,
    tipo public.enum_configuracoes_campo_tipo NOT NULL,
    obrigatorio boolean DEFAULT false NOT NULL,
    mascara character varying(255),
    validacao_regex character varying(255),
    opcoes jsonb,
    ordem_exibicao integer DEFAULT 0 NOT NULL,
    ativo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.configuracoes_campo OWNER TO postgres;

--
-- Name: contas_pagar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contas_pagar (
    id uuid NOT NULL,
    tipo_conta public.enum_contas_pagar_tipo_conta NOT NULL,
    descricao character varying(255) NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_vencimento timestamp with time zone NOT NULL,
    data_pagamento timestamp with time zone,
    status public.enum_contas_pagar_status DEFAULT 'pendente'::public.enum_contas_pagar_status NOT NULL,
    comprovante_url character varying(255),
    recorrente boolean DEFAULT false NOT NULL,
    observacoes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    tipo_espontaneo character varying(255),
    acao_id uuid,
    cidade character varying(100),
    caminhao_id uuid
);


ALTER TABLE public.contas_pagar OWNER TO postgres;

--
-- Name: COLUMN contas_pagar.comprovante_url; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.contas_pagar.comprovante_url IS 'URL do comprovante de pagamento';


--
-- Name: COLUMN contas_pagar.recorrente; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.contas_pagar.recorrente IS 'Indica se a conta ├® recorrente (mensal)';


--
-- Name: cursos_exames; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cursos_exames (
    id uuid NOT NULL,
    nome character varying(255) NOT NULL,
    tipo public.enum_cursos_exames_tipo NOT NULL,
    carga_horaria integer,
    descricao text,
    requisitos text,
    certificadora character varying(255),
    ativo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.cursos_exames OWNER TO postgres;

--
-- Name: custos_acoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.custos_acoes (
    id uuid NOT NULL,
    acao_id uuid NOT NULL,
    tipo_custo public.enum_custos_acoes_tipo_custo NOT NULL,
    descricao character varying(255) NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_custo timestamp with time zone NOT NULL,
    comprovante_url character varying(255),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.custos_acoes OWNER TO postgres;

--
-- Name: COLUMN custos_acoes.comprovante_url; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.custos_acoes.comprovante_url IS 'URL do comprovante de despesa';


--
-- Name: estoque_caminhoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estoque_caminhoes (
    id uuid NOT NULL,
    caminhao_id uuid NOT NULL,
    insumo_id uuid NOT NULL,
    quantidade integer DEFAULT 0 NOT NULL,
    ultima_atualizacao timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.estoque_caminhoes OWNER TO postgres;

--
-- Name: COLUMN estoque_caminhoes.quantidade; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.estoque_caminhoes.quantidade IS 'Quantidade atual do insumo no caminh├úo';


--
-- Name: exames; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exames (
    id uuid NOT NULL,
    nome character varying(255) NOT NULL,
    tipo_exame character varying(255) NOT NULL,
    laboratorio_referencia character varying(255),
    instrucoes_preparo text,
    valores_referencia text,
    custo_base numeric(10,2),
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.exames OWNER TO postgres;

--
-- Name: COLUMN exames.tipo_exame; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.exames.tipo_exame IS 'Tipo do exame: sangue, urina, imagem, etc.';


--
-- Name: COLUMN exames.instrucoes_preparo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.exames.instrucoes_preparo IS 'Instru├º├Áes de preparo para o exame (ex: jejum de 12h)';


--
-- Name: COLUMN exames.valores_referencia; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.exames.valores_referencia IS 'Valores de refer├¬ncia normais para o exame';


--
-- Name: COLUMN exames.custo_base; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.exames.custo_base IS 'Custo base estimado do exame';


--
-- Name: funcionarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.funcionarios (
    id uuid NOT NULL,
    nome character varying(255) NOT NULL,
    cargo character varying(255) NOT NULL,
    especialidade character varying(255),
    custo_diaria numeric(10,2) DEFAULT 0 NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cpf character varying(14),
    telefone character varying(20),
    email character varying(255),
    ativo boolean DEFAULT true
);


ALTER TABLE public.funcionarios OWNER TO postgres;

--
-- Name: inscricoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inscricoes (
    id uuid NOT NULL,
    cidadao_id uuid NOT NULL,
    acao_id uuid NOT NULL,
    curso_exame_id uuid,
    status character varying(255) DEFAULT 'pendente'::character varying NOT NULL,
    data_inscricao timestamp with time zone NOT NULL,
    observacoes text,
    campos_customizados jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.inscricoes OWNER TO postgres;

--
-- Name: instituicoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instituicoes (
    id uuid NOT NULL,
    razao_social character varying(255) NOT NULL,
    cnpj character varying(18) NOT NULL,
    responsavel_nome character varying(255) NOT NULL,
    responsavel_email character varying(255) NOT NULL,
    responsavel_tel character varying(20) NOT NULL,
    endereco_completo text NOT NULL,
    campos_customizados jsonb DEFAULT '{}'::jsonb,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.instituicoes OWNER TO postgres;

--
-- Name: insumos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.insumos (
    id uuid NOT NULL,
    nome character varying(255) NOT NULL,
    descricao text,
    categoria public.enum_insumos_categoria DEFAULT 'OUTROS'::public.enum_insumos_categoria NOT NULL,
    unidade character varying(255) NOT NULL,
    quantidade_minima integer DEFAULT 0 NOT NULL,
    quantidade_atual integer DEFAULT 0 NOT NULL,
    preco_unitario numeric(10,2),
    codigo_barras character varying(100),
    lote character varying(100),
    data_validade timestamp with time zone,
    fornecedor character varying(200),
    nota_fiscal character varying(100),
    data_entrada timestamp with time zone,
    localizacao character varying(100),
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.insumos OWNER TO postgres;

--
-- Name: COLUMN insumos.nome; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.nome IS 'Nome do insumo (ex: Luvas descart├íveis, M├íscaras N95)';


--
-- Name: COLUMN insumos.descricao; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.descricao IS 'Descri├º├úo detalhada do insumo';


--
-- Name: COLUMN insumos.categoria; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.categoria IS 'Categoria do insumo';


--
-- Name: COLUMN insumos.unidade; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.unidade IS 'Unidade de medida: unidade, caixa, litro, kg, etc.';


--
-- Name: COLUMN insumos.quantidade_minima; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.quantidade_minima IS 'Quantidade m├¡nima para alerta de estoque baixo';


--
-- Name: COLUMN insumos.quantidade_atual; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.quantidade_atual IS 'Quantidade atual em estoque';


--
-- Name: COLUMN insumos.preco_unitario; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.preco_unitario IS 'Pre├ºo unit├írio m├®dio do insumo';


--
-- Name: COLUMN insumos.codigo_barras; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.codigo_barras IS 'C├│digo de barras do produto';


--
-- Name: COLUMN insumos.lote; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.lote IS 'N├║mero do lote';


--
-- Name: COLUMN insumos.data_validade; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.data_validade IS 'Data de validade do lote';


--
-- Name: COLUMN insumos.fornecedor; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.fornecedor IS 'Nome do fornecedor';


--
-- Name: COLUMN insumos.nota_fiscal; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.nota_fiscal IS 'N├║mero da nota fiscal de entrada';


--
-- Name: COLUMN insumos.data_entrada; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.data_entrada IS 'Data de entrada no estoque';


--
-- Name: COLUMN insumos.localizacao; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.insumos.localizacao IS 'Localiza├º├úo f├¡sica no estoque (prateleira, setor)';


--
-- Name: movimentacoes_estoque; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movimentacoes_estoque (
    id uuid NOT NULL,
    insumo_id uuid NOT NULL,
    tipo public.enum_movimentacoes_estoque_tipo NOT NULL,
    quantidade integer NOT NULL,
    quantidade_anterior integer NOT NULL,
    quantidade_atual integer NOT NULL,
    origem character varying(100),
    destino character varying(100),
    caminhao_id uuid,
    acao_id uuid,
    motorista_id uuid,
    nota_fiscal character varying(100),
    data_movimento timestamp with time zone NOT NULL,
    observacoes text,
    usuario_id uuid,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.movimentacoes_estoque OWNER TO postgres;

--
-- Name: COLUMN movimentacoes_estoque.tipo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.tipo IS 'Tipo de movimenta├º├úo do estoque';


--
-- Name: COLUMN movimentacoes_estoque.quantidade; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.quantidade IS 'Quantidade movimentada';


--
-- Name: COLUMN movimentacoes_estoque.quantidade_anterior; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.quantidade_anterior IS 'Quantidade antes da movimenta├º├úo';


--
-- Name: COLUMN movimentacoes_estoque.quantidade_atual; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.quantidade_atual IS 'Quantidade ap├│s a movimenta├º├úo';


--
-- Name: COLUMN movimentacoes_estoque.origem; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.origem IS 'Origem (CAPITAL, caminhao_id, acao_id)';


--
-- Name: COLUMN movimentacoes_estoque.destino; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.destino IS 'Destino (CAPITAL, caminhao_id, acao_id)';


--
-- Name: COLUMN movimentacoes_estoque.nota_fiscal; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.nota_fiscal IS 'N├║mero da nota fiscal relacionada';


--
-- Name: COLUMN movimentacoes_estoque.usuario_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movimentacoes_estoque.usuario_id IS 'ID do usu├írio que realizou a movimenta├º├úo';


--
-- Name: noticias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.noticias (
    id uuid NOT NULL,
    titulo character varying(255) NOT NULL,
    conteudo text NOT NULL,
    imagem_url character varying(255),
    acao_id uuid,
    destaque boolean DEFAULT false NOT NULL,
    data_publicacao timestamp with time zone NOT NULL,
    campos_customizados jsonb DEFAULT '{}'::jsonb,
    ativo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.noticias OWNER TO postgres;

--
-- Name: notificacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notificacoes (
    id uuid NOT NULL,
    acao_id uuid,
    tipo public.enum_notificacoes_tipo NOT NULL,
    template text NOT NULL,
    destinatarios_filtro jsonb DEFAULT '{}'::jsonb,
    agendamento timestamp with time zone,
    status public.enum_notificacoes_status DEFAULT 'agendada'::public.enum_notificacoes_status NOT NULL,
    estatisticas jsonb DEFAULT '{"falhas": 0, "enviados": 0, "entregues": 0}'::jsonb,
    sent_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.notificacoes OWNER TO postgres;

--
-- Name: resultados_exames; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resultados_exames (
    id uuid NOT NULL,
    inscricao_id uuid NOT NULL,
    exame_id uuid NOT NULL,
    cidadao_id uuid NOT NULL,
    acao_id uuid NOT NULL,
    data_realizacao timestamp with time zone NOT NULL,
    resultado text,
    arquivo_resultado_url character varying(255),
    observacoes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.resultados_exames OWNER TO postgres;

--
-- Name: COLUMN resultados_exames.resultado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.resultados_exames.resultado IS 'Resultado textual do exame';


--
-- Name: COLUMN resultados_exames.arquivo_resultado_url; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.resultados_exames.arquivo_resultado_url IS 'URL do arquivo PDF com o resultado completo';


--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SequelizeMeta" (name) FROM stdin;
\.


--
-- Data for Name: abastecimentos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: acao_caminhoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: acao_curso_exame; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: acao_funcionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: acoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: acoes_insumos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.acoes_insumos (id, acao_id, insumo_id, quantidade_planejada, quantidade_levada, quantidade_utilizada, quantidade_retornada, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: caminhoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.caminhoes (id, placa, modelo, ano, km_por_litro, capacidade_litros, status, created_at, updated_at) FROM stdin;
a5efd07f-12cf-4289-a55f-fb758ebdec53	trv-5232	FORD	2026	8.00	110	em_manutencao	2026-02-08 14:05:30.406+00	2026-02-08 15:29:50.811+00
6e0bba4d-29c3-43d4-8e6d-02ad332f3683	XHL-1012	wolks	2014	8.50	80	disponivel	2026-02-08 17:06:41.912+00	2026-02-08 17:06:41.912+00
\.


--
-- Data for Name: cidadaos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: configuracoes_campo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.configuracoes_campo (id, entidade, nome_campo, tipo, obrigatorio, mascara, validacao_regex, opcoes, ordem_exibicao, ativo) FROM stdin;
\.


--
-- Data for Name: contas_pagar; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cursos_exames; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cursos_exames (id, nome, tipo, carga_horaria, descricao, requisitos, certificadora, ativo) FROM stdin;
be4727af-2919-40a8-8284-e827b41eb93d	hemograma	exame	\N	\N	\N	\N	t
8770c188-5c28-442c-92b8-b3e3c9ccf2a3	Exame de Vista	exame	\N	\N	\N	\N	t
\.


--
-- Data for Name: custos_acoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.custos_acoes (id, acao_id, tipo_custo, descricao, valor, data_custo, comprovante_url, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: estoque_caminhoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exames; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.exames (id, nome, tipo_exame, laboratorio_referencia, instrucoes_preparo, valores_referencia, custo_base, ativo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: funcionarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inscricoes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: instituicoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.instituicoes (id, razao_social, cnpj, responsavel_nome, responsavel_email, responsavel_tel, endereco_completo, campos_customizados, ativo, created_at, updated_at) FROM stdin;
d2120645-e88f-4c12-a31c-0f60c2ddacbe	SENAI - S├âO LUIS	10566.16816814	joao gabriel 	joaogabrieldiniz2307@gmail.com	98987272826	Rua bento freitas	{}	t	2026-02-07 19:37:52.905+00	2026-02-07 19:37:52.905+00
\.


--
-- Data for Name: insumos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movimentacoes_estoque; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: noticias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.noticias (id, titulo, conteudo, imagem_url, acao_id, destaque, data_publicacao, campos_customizados, ativo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: notificacoes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notificacoes (id, acao_id, tipo, template, destinatarios_filtro, agendamento, status, estatisticas, sent_at, created_at) FROM stdin;
\.


--
-- Data for Name: resultados_exames; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resultados_exames (id, inscricao_id, exame_id, cidadao_id, acao_id, data_realizacao, resultado, arquivo_resultado_url, observacoes, created_at, updated_at) FROM stdin;
\.


--
-- Name: acoes_numero_acao_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.acoes_numero_acao_seq', 5, true);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: abastecimentos abastecimentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.abastecimentos
    ADD CONSTRAINT abastecimentos_pkey PRIMARY KEY (id);


--
-- Name: acao_caminhoes acao_caminhoes_acao_id_caminhao_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_caminhoes
    ADD CONSTRAINT acao_caminhoes_acao_id_caminhao_id_key UNIQUE (acao_id, caminhao_id);


--
-- Name: acao_caminhoes acao_caminhoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_caminhoes
    ADD CONSTRAINT acao_caminhoes_pkey PRIMARY KEY (id);


--
-- Name: acao_curso_exame acao_curso_exame_acao_id_curso_exame_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_curso_exame
    ADD CONSTRAINT acao_curso_exame_acao_id_curso_exame_id_key UNIQUE (acao_id, curso_exame_id);


--
-- Name: acao_curso_exame acao_curso_exame_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_curso_exame
    ADD CONSTRAINT acao_curso_exame_pkey PRIMARY KEY (id);


--
-- Name: acao_funcionarios acao_funcionarios_acao_id_funcionario_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_funcionarios
    ADD CONSTRAINT acao_funcionarios_acao_id_funcionario_id_key UNIQUE (acao_id, funcionario_id);


--
-- Name: acao_funcionarios acao_funcionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_funcionarios
    ADD CONSTRAINT acao_funcionarios_pkey PRIMARY KEY (id);


--
-- Name: acoes_insumos acoes_insumos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes_insumos
    ADD CONSTRAINT acoes_insumos_pkey PRIMARY KEY (id);


--
-- Name: acoes acoes_numero_acao_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key1 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key2 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key3 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key4 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key5 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key6 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key7 UNIQUE (numero_acao);


--
-- Name: acoes acoes_numero_acao_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_numero_acao_key8 UNIQUE (numero_acao);


--
-- Name: acoes acoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_pkey PRIMARY KEY (id);


--
-- Name: caminhoes caminhoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_pkey PRIMARY KEY (id);


--
-- Name: caminhoes caminhoes_placa_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key UNIQUE (placa);


--
-- Name: caminhoes caminhoes_placa_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key1 UNIQUE (placa);


--
-- Name: caminhoes caminhoes_placa_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key2 UNIQUE (placa);


--
-- Name: caminhoes caminhoes_placa_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key3 UNIQUE (placa);


--
-- Name: caminhoes caminhoes_placa_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key4 UNIQUE (placa);


--
-- Name: caminhoes caminhoes_placa_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key5 UNIQUE (placa);


--
-- Name: caminhoes caminhoes_placa_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caminhoes
    ADD CONSTRAINT caminhoes_placa_key6 UNIQUE (placa);


--
-- Name: cidadaos cidadaos_cpf_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key1 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key2 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key3 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key4 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key5 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key6 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key7 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_cpf_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_cpf_key8 UNIQUE (cpf);


--
-- Name: cidadaos cidadaos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cidadaos
    ADD CONSTRAINT cidadaos_pkey PRIMARY KEY (id);


--
-- Name: configuracoes_campo configuracoes_campo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracoes_campo
    ADD CONSTRAINT configuracoes_campo_pkey PRIMARY KEY (id);


--
-- Name: contas_pagar contas_pagar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contas_pagar
    ADD CONSTRAINT contas_pagar_pkey PRIMARY KEY (id);


--
-- Name: cursos_exames cursos_exames_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cursos_exames
    ADD CONSTRAINT cursos_exames_pkey PRIMARY KEY (id);


--
-- Name: custos_acoes custos_acoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custos_acoes
    ADD CONSTRAINT custos_acoes_pkey PRIMARY KEY (id);


--
-- Name: estoque_caminhoes estoque_caminhoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_caminhoes
    ADD CONSTRAINT estoque_caminhoes_pkey PRIMARY KEY (id);


--
-- Name: exames exames_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exames
    ADD CONSTRAINT exames_pkey PRIMARY KEY (id);


--
-- Name: funcionarios funcionarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.funcionarios
    ADD CONSTRAINT funcionarios_pkey PRIMARY KEY (id);


--
-- Name: inscricoes inscricoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inscricoes
    ADD CONSTRAINT inscricoes_pkey PRIMARY KEY (id);


--
-- Name: instituicoes instituicoes_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key1 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key10 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key11 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key12 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key13 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key2 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key3 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key4 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key5 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key6 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key7 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key8 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_cnpj_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_cnpj_key9 UNIQUE (cnpj);


--
-- Name: instituicoes instituicoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instituicoes
    ADD CONSTRAINT instituicoes_pkey PRIMARY KEY (id);


--
-- Name: insumos insumos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insumos
    ADD CONSTRAINT insumos_pkey PRIMARY KEY (id);


--
-- Name: movimentacoes_estoque movimentacoes_estoque_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_pkey PRIMARY KEY (id);


--
-- Name: noticias noticias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.noticias
    ADD CONSTRAINT noticias_pkey PRIMARY KEY (id);


--
-- Name: notificacoes notificacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_pkey PRIMARY KEY (id);


--
-- Name: resultados_exames resultados_exames_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_exames
    ADD CONSTRAINT resultados_exames_pkey PRIMARY KEY (id);


--
-- Name: unique_caminhao_insumo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX unique_caminhao_insumo ON public.estoque_caminhoes USING btree (caminhao_id, insumo_id);


--
-- Name: abastecimentos abastecimentos_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.abastecimentos
    ADD CONSTRAINT abastecimentos_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: abastecimentos abastecimentos_caminhao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.abastecimentos
    ADD CONSTRAINT abastecimentos_caminhao_id_fkey FOREIGN KEY (caminhao_id) REFERENCES public.caminhoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acao_caminhoes acao_caminhoes_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_caminhoes
    ADD CONSTRAINT acao_caminhoes_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acao_caminhoes acao_caminhoes_caminhao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_caminhoes
    ADD CONSTRAINT acao_caminhoes_caminhao_id_fkey FOREIGN KEY (caminhao_id) REFERENCES public.caminhoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acao_curso_exame acao_curso_exame_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_curso_exame
    ADD CONSTRAINT acao_curso_exame_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acao_curso_exame acao_curso_exame_curso_exame_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_curso_exame
    ADD CONSTRAINT acao_curso_exame_curso_exame_id_fkey FOREIGN KEY (curso_exame_id) REFERENCES public.cursos_exames(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acao_funcionarios acao_funcionarios_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_funcionarios
    ADD CONSTRAINT acao_funcionarios_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acao_funcionarios acao_funcionarios_funcionario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acao_funcionarios
    ADD CONSTRAINT acao_funcionarios_funcionario_id_fkey FOREIGN KEY (funcionario_id) REFERENCES public.funcionarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acoes acoes_instituicao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes
    ADD CONSTRAINT acoes_instituicao_id_fkey FOREIGN KEY (instituicao_id) REFERENCES public.instituicoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: acoes_insumos acoes_insumos_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acoes_insumos
    ADD CONSTRAINT acoes_insumos_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE;


--
-- Name: custos_acoes custos_acoes_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.custos_acoes
    ADD CONSTRAINT custos_acoes_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE;


--
-- Name: estoque_caminhoes estoque_caminhoes_caminhao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estoque_caminhoes
    ADD CONSTRAINT estoque_caminhoes_caminhao_id_fkey FOREIGN KEY (caminhao_id) REFERENCES public.caminhoes(id) ON UPDATE CASCADE;


--
-- Name: inscricoes inscricoes_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inscricoes
    ADD CONSTRAINT inscricoes_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inscricoes inscricoes_cidadao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inscricoes
    ADD CONSTRAINT inscricoes_cidadao_id_fkey FOREIGN KEY (cidadao_id) REFERENCES public.cidadaos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inscricoes inscricoes_curso_exame_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inscricoes
    ADD CONSTRAINT inscricoes_curso_exame_id_fkey FOREIGN KEY (curso_exame_id) REFERENCES public.cursos_exames(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: movimentacoes_estoque movimentacoes_estoque_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id);


--
-- Name: movimentacoes_estoque movimentacoes_estoque_caminhao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_caminhao_id_fkey FOREIGN KEY (caminhao_id) REFERENCES public.caminhoes(id);


--
-- Name: movimentacoes_estoque movimentacoes_estoque_motorista_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movimentacoes_estoque
    ADD CONSTRAINT movimentacoes_estoque_motorista_id_fkey FOREIGN KEY (motorista_id) REFERENCES public.funcionarios(id);


--
-- Name: noticias noticias_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.noticias
    ADD CONSTRAINT noticias_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: notificacoes notificacoes_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificacoes
    ADD CONSTRAINT notificacoes_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: resultados_exames resultados_exames_acao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_exames
    ADD CONSTRAINT resultados_exames_acao_id_fkey FOREIGN KEY (acao_id) REFERENCES public.acoes(id) ON UPDATE CASCADE;


--
-- Name: resultados_exames resultados_exames_cidadao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_exames
    ADD CONSTRAINT resultados_exames_cidadao_id_fkey FOREIGN KEY (cidadao_id) REFERENCES public.cidadaos(id) ON UPDATE CASCADE;


--
-- Name: resultados_exames resultados_exames_exame_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_exames
    ADD CONSTRAINT resultados_exames_exame_id_fkey FOREIGN KEY (exame_id) REFERENCES public.exames(id) ON UPDATE CASCADE;


--
-- Name: resultados_exames resultados_exames_inscricao_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resultados_exames
    ADD CONSTRAINT resultados_exames_inscricao_id_fkey FOREIGN KEY (inscricao_id) REFERENCES public.inscricoes(id) ON UPDATE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict HcD1Jv8401emFfcipX9sXxWazi27eyxUcUF7961f3IcsX9MgIpRlojGoLp7vE4K

